<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Rotation Calendar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  
<ion-calendar [(ngModel)]="date" 
[options]="optionsSingle" 
(change)="onChange($event)" 
[type]="type"
[format]="'YYYY-MM-DD'">
</ion-calendar>

<ion-list>
  <ion-list-header>
    
  </ion-list-header>

  <ion-item>
    <ion-label>Doctors</ion-label>
    <ion-select [(ngModel)]="user.last" (ngModelChange)="optionsFn(item);"
 [compareWith]="compareWith">
      <ion-select-option *ngFor="let user of users">{{user.first + ' ' + user.last}}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

 <ion-chip color={{sick_color}}>
  <ion-label>{{sick}}</ion-label>
</ion-chip>

</ion-content>
